.box1 {
  background-color: rgb(242, 246, 246);
  width: 400px;
  height: 200px;
  text-align: center;
  color: rgb(28, 23, 158);
  margin-bottom: 15px;
  border-radius: 5px;
  padding-top: 5px;
  border: 1px solid ;
  border-color: darkblue;
}

.box2 {
  width: 400px;
  height: 400px;
  background-image: url(/ways.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  border-radius: 50%;
}

.txt-p {
  padding-right: 5px;
  padding-left: 5px;
}
