.div1 {

  width: 500px;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 20px 15px 10px 40px;
  border-radius: 15px;
}

.div2 {
  
  width: 500px;
  height: 300px;
  box-shadow: 10px 8px 8px 10px;
}
