#div1 {
  width: 90%;
  height: 200px;
  background-color: burlywood;
  margin-bottom: 30px;
  position: static; /* default */

}

#div2 {
  width: 75%;
  height: 300px;
  background-color: darkgray;
 
}
