.flexbox-container {

    display: flex;
}

.flexbox-container > div {

    width: 80px;
    height: 70px;
    background-color: goldenrod;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    padding-top: 10px;
}
